<footer class="page-footer font-small bg-primary text-white pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-3">
        <br><br>
        <h6 class="text-uppercase text-center font-weight-bold text-underline"><u>Navigation</u></h6>
        <h6 class="text-uppercase text-center font-weight-bold" routerLink="/homepage">Home</h6>
        <h6 class="text-uppercase text-center font-weight-bold" routerLink="/admin">Admin</h6>
        <h6 class=" nav-brand text-uppercase text-center text-danger font-weight-bold"><a class="nav-link text-danger" href="https://developers.zomato.com/api">Zomato</a></h6>
        <p></p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-12 mb-md-0 mb-3">
        <br><br>
        <h5 class="text-uppercase text-center font-weight-bold">Thank you for using the app!</h5>
        <p></p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="footer-copyright text-center py-3">© 2018 Copyright: EazyEats
    <br><br>
  </div>
</footer>
