<footer class="page-footer font-small bg-primary text-white pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <br><br>
        <h5 class="text-uppercase text-center font-weight-bold">Thank you for using the app!</h5>
        <p></p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <br><br>
        <h5 class="text-uppercase text-center font-weight-bold">Food is Good</h5>
        <p></p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="footer-copyright text-center py-3">© 2018 Copyright: EazyEats
    <br><br>
  </div>
</footer>
