<app-navbar></app-navbar>
<br>
<h4>Restaurant name</h4>
<p>Address</p>
<p>Locality</p>
<p>average costs per two</p>
<p>Aggregate Rating</p>
<p>Cuisines</p>
<p>Images</p>
<hr>
<h5>Rate and Review!</h5>
<ngb-rating [(rate)]="currentRate">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100">&#9733;</span>
  </ng-template>
</ngb-rating>
<br><br>
<button type="submit" class="btn btn-success btn-md" value={{currentRate}} (click)=submitrating()>Submit Rating: {{currentRate}}</button>
<br><br>
<form>
    <div class="form-group">
      <h5>User Review</h5>
      <textarea class="form-control" id="userreview" rows="4" placeholder="Review the restaurant here..."></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-md" (click)=submitreview()>Submit Review</button>
  </form>




