<app-navbar></app-navbar>
<br>
<h1>Your Profile</h1>
<br>
<div class="row col-sm-7">
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>1</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Email</td>
      <td>email@example.com</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>Bosco</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>Billy Bob</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td>2000</td>
      </tr>
  </tbody>
</table> 
</div>
<br>
<br>
<app-verifiedrequest></app-verifiedrequest>
